@font-face {
    font-family: a;
    src: url(./dm-sans-v11-latin_latin-ext-500.ttf);
}
@font-face {
    font-family: b;
    src: url(./dm-sans-v11-latin_latin-ext-regular.ttf);
}
@font-face {
    font-family: c;
    src: url(./PPWoodland-Regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
#main{
    position: relative;
}
:root{
    --text-color:#434b34;
    --btn-bg-color:#e3e3c4;
    --btn2-color:#f7f7ee;
    --svg-color:#5b6647;
}

/* *********** Page1 *************** */
#page1{
    width: 100vw;
    height: 100vh;
    /* background-color: paleturquoise; */
    position: relative;
}
#page1>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

nav{
    height: 18%;
    width: 100%;
    background-color: transparent;
    /* background-color: white; */
    position: absolute;
    top :0%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0 3vw;
    z-index: 999;
    /* background-color: red; */
    /* opacity: 1; */
}
#n-1{
    width:24vw;
    height: 40%;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: .5vw;
    margin-top: 1vw;
    opacity: 0;
}
#n-1>i{
    font-size:2vw;
    margin-top: 1.5vw;
}
#n-1>.line{
    /* width: 3vw;
    height: 2px;
    background-color: var(--text-color);
    margin-top: -3px;
    /* opacity: 0; */
    /* z-index: 5 */ 
}
.line1{
    padding: 2px;
}
#n-2{
    width: 40%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
}
#n-2>h1{
    font-size: 3.4vw;
    font-weight: 500;
    font-family: c;
    text-transform: capitalize;
    margin-top: -8vw;
    margin-left:-3vw;
    color: var(--text-color);
}
#n-2>p{
    font-size: 1.1vw;
    font-weight: 600;
    font-family: c;
    text-transform: uppercase;
    margin-left:-3vw;
    color: var(--text-color);
}

#n-3{
    width: 25%;
    height: 100%;
    /* background-color: aqua; */
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}

.nav-btn{
    width: 70%;
    height: 35%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.nav-btn{
    padding:0vw 1vw;
    border-radius: 50px;
    margin-top: 0vw;
    font-size: .9vw;
    border: .1vw solid var(--btn-bg-color);
    color: var(--text-color);
    margin-left: 1vw;
    background-color: transparent;
}
.nav-btn>.btn{
    padding:0vw 0vw;
    border-radius: 50px;
    margin-top: 0vw;
    font-size: .9vw;
    border: .1vw solid var(--btn-bg-color);
    color: var(--text-color);
    margin-left: 1vw;
    background-color: transparent;
}
.nav-btn>p{
    position: absolute;
    /* bottom:10%; */
    font-size: 1vw;
    font-family: a;
    overflow: hidden;
    cursor: pointer;
}
.nav-btn:hover p{
    animation-name:updown;
    animation-duration: .5s;
    animation-timing-function: ease;
}
.nav-btn:hover{
    background-color: var(--btn-bg-color);
}
.btn{
    background-color: var(--text-color)!important;
    color: var(--btn2-color)!important;
    overflow: hidden;
    cursor: pointer;
}

@keyframes updown {
    0% {
        transform: translateY(85%);
        opacity: 0;
    }
    100% {
        transform: translateY(-5%);
        opacity: 1;
    }
}
/* ********* Page2 ********** */
#page2{
    width: 100vw;
    height: 160vh;
    position: relative;
    /* background-color: var(--svg-color); */
    background-color:  #5b6647;
}
#center{
    width: 100%;
    height: 100%;
    position: relative; 
}
#center>#sg-1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -16.6%;
    left:0%;
}

#center>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* object-position: bottom; */
}
#text-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text-container>h1{
    padding-top: 15vh;
    font-size: 4vw;
    font-family: c;
    position: absolute;
    top: 0;
    width: 45%;
    text-align: center;
    line-height: 1;
    color: var(--text-color);
    /* color: #e3e3c4; */
    z-index: 9999;  
}
#text-container>h1>span{
    /* color:#e3e3c4 */
}

#bottom-image{
    width: 100%;
    height: 5%;
    /* background-color: palevioletred; */
    position: relative;
    top: -26%;
}
#bottom-image>#b-svg-1{
    width: 200%;
    height: 416%;
    position: absolute;
    bottom: 117%;
    left: 1.3%;
    z-index: 99999;
    fill: var(--svg-color);   
}
#bottom-image>#b-svg-2{
    width: 250%;
    height: 420%;
    position: absolute;
    bottom: 117%;
    left: 1.3%;
    z-index: 9;
    fill: #e3e3c4;   
}
#bottom-image:hover #b-svg-1{
    translate: none; 
    rotate: none; 
    scale: none; 
    transform: translate3d(-220.034px, 0px, 0px);
}

/* *********** Page3**************** */
#page3{
    width: 100vw;
    height: 180vh;
    /* background-color: var(--btn2-color); */
    /* background-color: yellowgreen; */
    position: relative;
    /* margin-top: 10vw; */
    margin-bottom: 10vw;
}
#page3>#text-p-3{
    width: 100%;
    height: 40%;
    /* background-color: palevioletred; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 5vw; */
    /* /* padding-top: 3vw; */
    padding-left: 5vw; 
}
#text-p-3>h1{
    font-family: c;
    font-size: 5.4vw;
    width:60%;
    line-height: 1;
    padding-top: 13vw;
    color: var(--btn-bg-color);
    text-align: center;
    font-weight: 200;

}

#image-container{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4vw;
    /* background-color: red; */
}
#left{
    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 9vw;
}
#left>p{
    margin-top: 6vw;
    width: 55%;
    margin-bottom: 2vw;
    font-family: a;
    color: var(--text-color);
}
#cont-btn{
    width: 40%;
    display: flex;
    /* background-color: aqua; */
}
#cont-btn>p{
    width: 100%;
    font-family: a;
    color: var(--text-color);
    margin: 0 .2vw; 
    font-size: 1.5vw;   
}

#cont-btn>#icon{
    width: 25%;
    padding: .1vw .9vw;
    background-color: var(--text-color);
    border-radius: 50px;
    color: var(--btn2-color);
    margin: 0 .9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 0;
    /* transition: all .4s ease; */
}
#icon>i{
    position: absolute;
    left: 30%;
    overflow: hidden;
    transition: all .4s ease ;
    font-weight: 800;
}
#icon:hover i{
    animation-name:slide;
    animation-duration: .4s;
    animation-timing-function: ease;
    cursor: pointer;
}

@keyframes slide {
    0%{
        transform: translateX(-10%);
        opacity: 1;
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}
#card-left{
    width: 90%;
    height: 35%;
    border-radius: 2vw;
    /* background-color: palegreen; */
    margin-top: 8vw;
    position: relative;
}
#card-left>img{
    height:100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2vw;
}
#right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.2vw;
    padding-top:6vw; 
}
.card-right{
    width: 95%;
    height: 46%;
    border-radius: 2vw;
}
.card-right>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2vw;
}
.small{
    width: 40%;
    height: 25%;
    border-radius: 2vw;
}

/* ***************page4************** */
#page4{
    width: 100vw;
    height: 180vh;
    /* background-color: yellow; */
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
padding-bottom: 4vw;
}
.wrap-container{
    width: 85%;
    height: 75%;
    position: relative;
    top: 20%;
    /* background-color: red; */
    border-radius: 2vw;
    cursor: pointer;
}
.wrp{
    width: 100%;
    height: 20%;
    /* margin-bottom: .1vw; */
    /* background-color: ; */
    border-bottom: .1vw solid var(--text-color);
    overflow: hidden;
}
.wrp:nth-child(1){
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}
.wrap-container>#last{
    border-radius: 0 0 1vw 1vw;
}
.content{
    width: 125%;
    height: 100%;
    background-color: var(--btn-bg-color);
    position: relative;
    left: -25%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.content>button{
    position: absolute;
    right: 5%;
    color: var(--btn-bg-color);
    font-size: 1.1vw;
}
.image{
    width: 20%;
    height: 100%;
    /* background-color: #434b34; */
    position: relative;
    transition:  all .3s ease;
}
.image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.text{
    height: 100%;
    width: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 1.2vw;
    padding: 0 4vw;
    opacity: 0;
}
.text>h1{
    font-family: c;
    font-weight: 100;
    font-size: 3vw;
    color: var(--text-color);
    transition: all .3s ease;
    width: 100%; 
}
.text>p{
    font-family: c;
    font-weight: 100;
    font-size: 1vw;
    color: var(--text-color);
    transition: all .3s ease;
    width: 70%;
}
.cont-btn{
    padding: .3vw 1.2vw;
    background-color: var(--text-color);
    border-radius: 50px;
    border: none;
    transition: all .3s ease;
}
#arrow{
    position: relative;
    top: -1%;
    left: 38%;
    z-index: 999;
    font-size: 1.3vw;
    font-weight:400;
    color: cadetblue;
    z-index: -1;
    transition: all .3s ease;
    /* display: none; */
}
.wrp:hover .content {
    background-color: var(--text-color);
}
.wrp:hover .cont-btn {
    background-color: var(--btn2-color);
}
.wrp:hover .image{
    transform: translateX(100%);
}
.wrp:hover .text>h1{
    transform: translateX(59%);
    color: var(--btn2-color);
    padding-left: 3vw;
}
.wrp:hover .text>p{
    transform: translateX(100%);
    color: var(--btn2-color);
} 
.wrp:hover #arrow{
    z-index: 3;
    color: var(--text-color);
}
.wrp:hover button{
    color: transparent;
}

/* *************** page5 ******************** */


#page5{
    width: 100vw;
    height: 100vh;
    position: relative;
    
}
#page5-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}
#page5-wrapper>#p-wrap{
    width: 100%;
    height: 100%;
    background-color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
}
#part-left{
    width: 80%;
    height: 100%;
    background-color: palegreen;
    padding: 3vw 2vw;
    position: relative;
}
#part-left>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 2vw;
}
#part-right{
    width: 20%;
    height: 100%;
    background-color: yellow;
    position: relative;
}
.inline-botton{
    width: 60%;
    /* display: inline-block; */
    /* background-color: rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    margin-top: 3vw;
    margin-left: 5vw;
}
.inline-botton>button{
    padding: .3vw 1.1vw;
    border-radius: 50px;
    border: none;
    background-color: #434b34;
}
.first-btn{
    background-color: #434b3466;

}
.inline-botton>button>i{
    font-size:1vw;
    font-weight: 800;
    color: var(--btn2-color);    
}
.inline-botton>button+h4{
    font-family: a;
    font-size: 1vw;
    color: var(--svg-color);
}
#p-5image{
    width: 150%;
    height: 50%;
    background-color: rebeccapurple;
    border-radius: 2vw;
    position: relative;
    margin-top: 17vw;
    overflow: hidden;
}
#p-5image>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* *************** page6********************* */
#page6{
    width: 100vw;
    height: 180vh;
    position: relative;
}
#center-text{
    width: 100%;
    height: 100%;
    background-color: greenyellow;
}



